@font-face {
    font-family: HelveticaNeue;
    src: url(src/HelveticaNeue.ttc);
}
*{
    font-family: HelveticaNeue;
    box-sizing: border-box;
}
body{
    display: grid;
	place-items: center
}
.header__firstpage{
    margin: 4%;
    width: 6vw;
}
.image__firstpage{
    width: 40vw;
}
.button__firstpage{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    width: 20vw;
    height: 5.5vh;
    background: #62A1EB;
    border-color: #62A1EB;
    border-radius: 8px;
    font-size: 1.3rem;    
    text-decoration: none;
}
#button2{
    margin: 2%;
}